@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "utils/variables";
@import "utils/functions";
@import "utils/media";
@import "utils/mixins";
@import "utils/placeholders";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

@import "components/buttons";
@import "components/hamburguer";

* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
  line-height: 1.2;
  color: $brand-primary-color;
  overflow-x: hidden;
}

a {
  color: $brand-primary-color;
  transition: .2s ease-in-out all;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $brand-tertiary-color;
  }
  &:focus {
    text-decoration: none;
  }
}
ul{
  list-style-type: none;
  padding-left: 0;
}
strong, .font-bold {
  font-weight: $font-bold;
}


h2 {
  font-weight: $font-bold;

  @include MQ(M) {
      font-size: 2.2rem;
  }
}

h1 {
  font-size: 1.8rem;

  @include MQ(L) {
      font-size: 2rem;
  }
}

#myVideo {
  @include MQ(M) {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    //background-image: ;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    //z-index: 1 !important;
    min-height: 100vh;
    z-index: -1;
    filter: brightness(1.7);
  }
}

video::-webkit-media-controls {
  display: none !important;
}

.long-content {
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  background: rgba(21, 0, 37, 0.582);
}